# Accessor examples

## Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
PANDA = u"\U0001F43C"

In [3]:
@pd.api.extensions.register_series_accessor("panda")
class PandaSeriesAccessor:
    def __init__(self, data):
        if data.dtype.kind != "i":
            raise AttributeError
        self.data = data
        
    def render(self):
        return self.data.apply(lambda x: x * PANDA)

In [4]:
df = pd.DataFrame({"count": pd.Series([5, 4, 1, 6])})
df

   count
0      5
1      4
2      1
3      6

In [5]:
df.assign(pandas=df["count"].panda.render())

   count  pandas
0      5   ğŸ¼ğŸ¼ğŸ¼ğŸ¼ğŸ¼
1      4    ğŸ¼ğŸ¼ğŸ¼ğŸ¼
2      1       ğŸ¼
3      6  ğŸ¼ğŸ¼ğŸ¼ğŸ¼ğŸ¼ğŸ¼

## DataFrame

In [6]:
@pd.api.extensions.register_dataframe_accessor("panda")
class PandaDFAccessor:
    def __init__(self, data):
        self.data = data
        
    def invade(self):
        """Replaces all df content with random pandas."""
        new_df = self.data.copy()
        columns = new_df.columns
        for column in columns:
            new_df[column] = pd.Series(np.random.randint(5, size=self.data.shape[0])).panda.render()
        new_df.columns = [PANDA] * len(columns)
        new_df.index = [PANDA] * new_df.shape[0]
        return new_df

In [7]:
df = pd.DataFrame({
    "alpha": pd.Series(np.random.random(3)),
    "beta": pd.Series(np.random.random(3)),
    "gamma": pd.Series(np.random.random(3)),
    "delta": pd.Series(np.random.random(3)),
})
df.panda.invade()

      alpha      beta     gamma     delta
0  0.599806  0.432169  0.169833  0.421499
1  0.658191  0.260441  0.662549  0.796003
2  0.585770  0.347680  0.493083  0.943206

In [8]:
df.panda.invade()

   ğŸ¼     ğŸ¼     ğŸ¼     ğŸ¼
ğŸ¼        ğŸ¼  ğŸ¼ğŸ¼ğŸ¼ğŸ¼  ğŸ¼ğŸ¼ğŸ¼ğŸ¼
ğŸ¼  ğŸ¼        ğŸ¼ğŸ¼ğŸ¼ğŸ¼
ğŸ¼     ğŸ¼ğŸ¼ğŸ¼ğŸ¼    ğŸ¼ğŸ¼     ğŸ¼

## Index

In [9]:
@pd.api.extensions.register_index_accessor("panda")
class PandaIndexAccessor:
    def __init__(self, data):
        if not isinstance(data, pd.core.indexes.numeric.IntegerIndex):
            raise AttributeError
        self.data = data
        
    def make_friendly(self):
        """Replace all numbers in."""
        values = []
        for i in self.data:
            if i == 1:
                values.append("1 panda")
            else:
                values.append(f"{i} pandas")
        new_index = pd.Index(values)
        new_index.name = PANDA
        return new_index

In [10]:
df

      alpha      beta     gamma     delta
0  0.599806  0.432169  0.169833  0.421499
1  0.658191  0.260441  0.662549  0.796003
2  0.585770  0.347680  0.493083  0.943206

In [11]:
df.set_index(df.index.panda.make_friendly())

             alpha      beta     gamma     delta
ğŸ¼
0 pandas  0.599806  0.432169  0.169833  0.421499
1 panda   0.658191  0.260441  0.662549  0.796003
2 pandas  0.585770  0.347680  0.493083  0.943206