# Coloured DataFrame

Example of inheriting from pandas DataFrame

In [1]:
import pandas as pd
import numpy as np

In [19]:
class ColouredDataFrame(pd.DataFrame):
    """Class with coloured header."""
    def __init__(self, *args, colour="white", **kwargs):
        self.colour = colour
        super(ColouredDataFrame, self).__init__(*args, **kwargs)
        
    _metadata = ['colour']
    
    @property
    def style_props(self):
        """Custom CSS values for this table."""
        return [
            {'selector': 'thead th',
             'props': [('background-color', self.colour)]}]
        
    def _repr_html_(self):
        """Used among others in Jupyter notebook."""
        return self.style.set_table_styles(
            self.style_props).render()
    
    # def to_html(self, *args, **kwargs):
    #   You might want to set this too
    
    @property
    def _constructor(self):        
        return ColouredDataFrame
    
    # If you want to subclass Series too:   
    # @property
    # def _constructor_sliced(self)
    
    def set_colour(self, colour):
        copy = self.copy()
        copy.colour = colour
        return copy

In [20]:
df = ColouredDataFrame({
    "alpha": pd.Series(np.random.random(3)),
    "beta": pd.Series(np.random.random(3)),
    "gamma": pd.Series(np.random.random(3)),
    "delta": pd.Series(np.random.random(3)),
},
    colour = "gold"
)
df

      alpha      beta     gamma     delta
0  0.878496  0.603695  0.952570  0.953663
1  0.559060  0.363756  0.906232  0.711642
2  0.438184  0.865263  0.103786  0.834384

In [21]:
df.set_colour("orange")

      alpha      beta     gamma     delta
0  0.878496  0.603695  0.952570  0.953663
1  0.559060  0.363756  0.906232  0.711642
2  0.438184  0.865263  0.103786  0.834384

In [22]:
df[["alpha", "gamma"]].set_colour("#8f8")

      alpha     gamma
0  0.878496  0.952570
1  0.559060  0.906232
2  0.438184  0.103786

In [23]:
new_df = df.assign(epsilon=0.001)
new_df

      alpha      beta     gamma     delta  epsilon
0  0.878496  0.603695  0.952570  0.953663    0.001
1  0.559060  0.363756  0.906232  0.711642    0.001
2  0.438184  0.865263  0.103786  0.834384    0.001

The following does not work and resets to default - a different dataframe.

In [27]:
(df / 2)

      alpha      beta     gamma     delta
0  0.439248  0.301847  0.476285  0.476832
1  0.279530  0.181878  0.453116  0.355821
2  0.219092  0.432632  0.051893  0.417192

In [26]:
(df / 2).colour

'white'