# Coloured DataFrame

Example of inheriting from pandas DataFrame

In [1]:
import pandas as pd
import numpy as np

In [2]:
class ColouredDataFrame(pd.DataFrame):
    """Class with coloured header."""
    def __init__(self, *args, colour, **kwargs):        
        super(ColouredDataFrame, self).__init__(*args, **kwargs)
        self._colour = colour

    @property
    def colour(self):
        """Colour of the header."""
        return self._colour
    
    @property
    def style_props(self):
        """Custom CSS values for this table."""
        return [
            {'selector': 'thead th',
             'props': [('background-color', self.colour)]}]
        
    def to_html(self, *args, **kwargs):
        """Used among others in Jupyter notebook."""
        return self.style.set_table_styles(
            self.style_props).render()
    
    @property
    def _constructor(self):        
        import functools
        return functools.partial(
            ColouredDataFrame,
            colour = self.colour
        )
    
    # If you want to subclass Series too:   
    # @property
    # def _constructor_sliced(self)
    
    # Not mentioned in the talk
    @colour.setter
    def colour(self, colour):
        self._colour = colour    
    
    def set_colour(self, colour):
        copy = self.copy()
        copy.colour = colour
        return copy

In [3]:
df = ColouredDataFrame({
    "alpha": pd.Series(np.random.random(3)),
    "beta": pd.Series(np.random.random(3)),
    "gamma": pd.Series(np.random.random(3)),
    "delta": pd.Series(np.random.random(3)),
},
    colour = "gold"
)
df

      alpha      beta     gamma     delta
0  0.356225  0.483409  0.297362  0.520750
1  0.971843  0.825437  0.441161  0.302344
2  0.995501  0.620508  0.722224  0.691230

In [4]:
df.set_colour("orange")

      alpha      beta     gamma     delta
0  0.356225  0.483409  0.297362  0.520750
1  0.971843  0.825437  0.441161  0.302344
2  0.995501  0.620508  0.722224  0.691230

In [5]:
df[["alpha", "gamma"]].set_colour("#8f8")

      alpha     gamma
0  0.356225  0.297362
1  0.971843  0.441161
2  0.995501  0.722224