# Coloured DataFrame

Example of inheriting from pandas DataFrame

In [2]:
import pandas as pd
import numpy as np

In [5]:
class ColouredDataFrame(pd.DataFrame):
    """Class with coloured header."""
    def __init__(self, *args, colour="white", **kwargs):        
        super(ColouredDataFrame, self).__init__(*args, **kwargs)
        self.colour = colour
        
    _metadata = ['colour']
    
    @property
    def style_props(self):
        """Custom CSS values for this table."""
        return [
            {'selector': 'thead th',
             'props': [('background-color', self.colour)]}]
        
    def to_html(self, *args, **kwargs):
        """Used among others in Jupyter notebook."""
        return self.style.set_table_styles(
            self.style_props).render()
    
    @property
    def _constructor(self):        
        return ColouredDataFrame
    
    # If you want to subclass Series too:   
    # @property
    # def _constructor_sliced(self)
    
    def set_colour(self, colour):
        copy = self.copy()
        copy.colour = colour
        return copy

In [6]:
df = ColouredDataFrame({
    "alpha": pd.Series(np.random.random(3)),
    "beta": pd.Series(np.random.random(3)),
    "gamma": pd.Series(np.random.random(3)),
    "delta": pd.Series(np.random.random(3)),
},
    colour = "gold"
)
df

      alpha      beta     gamma     delta
0  0.095357  0.422161  0.139219  0.646221
1  0.994023  0.152894  0.341998  0.400648
2  0.492175  0.571115  0.097460  0.615323

In [7]:
df.set_colour("orange")

      alpha      beta     gamma     delta
0  0.095357  0.422161  0.139219  0.646221
1  0.994023  0.152894  0.341998  0.400648
2  0.492175  0.571115  0.097460  0.615323

In [8]:
df[["alpha", "gamma"]].set_colour("#8f8")

      alpha     gamma
0  0.095357  0.139219
1  0.994023  0.341998
2  0.492175  0.097460